* {
    box-sizing: border-box;
}

input#card {
    background-image: url('../../../public/images/master-card.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 30px;
    text-indent: 35px;
}